# This file dictates who is automatically requested for review 
# when a pull request is opened.

# --------------------------------------------------------
# Default Owner
# --------------------------------------------------------
# This sets @infinityvaibhav as the owner of every file in the repo.
* @infinityvaibhav
